use flake

# used by docker-compose to run processes with the same user ID mapping
HOST_UID=$(id -u)
HOST_GID=$(id -g)
export HOST_UID HOST_GID

# used by docker-compose to define data paths
export DOCKER_CONFIGS=${PRJ_ROOT}/docker/configs
export DOCKER_LOCAL_DATA=${PRJ_ROOT}/.local/docker/data

# used by procfile
export LOCAL_CONFIGS=${PRJ_ROOT}/procfile/configs
export LOCAL_DATA=${PRJ_ROOT}/.local

# geth
export GETH_NETWORK_ID=1214
export GETH_ACCOUNT_PASSWORD=!Pa55word
export GETH_DATA=${LOCAL_DATA}/geth
export GETH_IPC=${GETH_DATA}/geth.ipc

# prysm
export PRYSM_CHECKPOINT_URL="https://sepolia.checkpoint-sync.ethdevops.io"
export PRYSM_CHECKPOINT=${LOCAL_CONFIGS}/genesis.ssz
export PRYSM_DATA=${DOCKER_LOCAL_DATA}/prysm

# nats
export NATS_DATA=${LOCAL_DATA}/nats-server

# allow local .envrc overrides
[[ -f .envrc.local ]] && source_env .envrc.local
