use flake

# used by docker-compose to run processes with the same user ID mapping
HOST_UID=$(id -u)
HOST_GID=$(id -g)
export HOST_UID HOST_GID

# Used by geth setup in docker-compose
export GETH_NETWORK_ID=1214
export GETH_ACCOUNT_PASSWORD=!Pa55word

# used by docker-compose to define data paths
export DOCKER_CONFIGS=${PRJ_ROOT}/docker/configs
export DOCKER_LOCAL_DATA=${PRJ_ROOT}/.local/docker/data

export PRYSM_CHECKPOINT=${DOCKER_CONFIGS}/prysm/checkpoints
export PRYSM_DATA=${DOCKER_LOCAL_DATA}/prysm

export ERIGON_DATA=${DOCKER_LOCAL_DATA}/erigon

# allow local .envrc overrides
[[ -f .envrc.local ]] && source_env .envrc.local
