use flake

# used by docker-compose to run processes with the same user ID mapping
HOST_UID=$(id -u)
HOST_GID=$(id -g)
export HOST_UID HOST_GID

# Used by geth setup in docker-compose
export GETH_NETWORK_ID=1214
export GETH_ACCOUNT_PASSWORD=!Pa55word

# Used by Avalanche
# AVALANCHEGO_EXEC_PATH - already defined in flake.nix
# export AVALANCHEGO_VERSION=$(avalanchego --version | awk -F' ' '{print $1}' | awk -F '/' '{print $2}')
# AVALANCHE_SUBNET_EVM_PATH - already defined in flake.nix
# export AVALANCHE_SUBNET_EVM_VERSION=$(subnet-cli --version | awk -F' ' '{print $3}')
# export AVALANCHE_CLI_DIR="$HOME/.avalanche-cli" # do NOT change this directory as avalanche-cli as this path is harcoded

# allow local .envrc overrides
[[ -f .envrc.local ]] && source_env .envrc.local
