##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Visual Studio Code
##############################
.vscode/

##############################
## OS X
##############################
.DS_Store

##############################
## Node
##############################
node_modules/

##############################
## Project
##############################
.env.local
*.log

##############################
## Direnv
##############################
/.direnv
/.envrc.local
/env

##############################
## Nix
##############################
/result*
/.pre-commit-config.yaml

##############################
## Binaries
##############################
/out

##############################
## Docker
##############################
/.local/

##############################
## Terraform
##############################
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
.terragrunt-cache